
nav {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #309795;
}

nav .logo:hover {
  cursor: pointer;
}

footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  color: #777;
  border-top: 1px solid #309795;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}