.main {
  text-align: center;
  /* background-color: red; */
}

.container {
  padding: 100px 0;
  /* background-color: #00ffff; */
  background-image: url("/teal-backg.jpeg");
  background-size: cover;
}

.box {
  background: rgba(255, 255, 255, 0.4);
}